@use "global" as *;

.p-hinata {
  padding-top: rem(100);
  padding-bottom: rem(100);
  background-color: lightyellow;
}

.p-hinata__img {
  margin-top: rem(30);
}

.p-hinata__btn {
  margin-top: rem(30);
  text-align: center;
}
