@use "global" as *;

.p-sakura {
  padding-top: rem(100);
  padding-bottom: rem(100);
  background-color: pink;
}

.p-sakura__img {
  margin-top: rem(30);
}

.p-sakura__btn {
  margin-top: rem(30);
  text-align: center;
}
