<section class="p-cta">
  <%- include('../component/_c-title' ,{ h1: false, text: "CTAセクションだよh2" }) %>
  <div class="p-cta__btn">
    <%- include('../component/_c-btn' ,{ path: basePath + "", className: "c-btn--yellow", text: "お問い合わせはこちら的な" }) %>
  </div>
</section>